@page "/netPrinters";
@rendermode RenderMode.InteractiveServer

<button class="btn btn-primary" @onclick="NetworkPrinterAddToDB">NetworkPrinterAddToDB</button>



<textarea disabled="true" style="border: none;background-color:white;">


</textarea>
@code {
 

}
