* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --index: calc(1dvh + 1dvw);
  --transition: 1s cubic-bezier(0.05, 0.5, 0 1);
  --max-load-color: red;
  --midle-load-color: orange;
  --min-load-color: green;
}

body {
  background-color: black;
  color: #fff;
  font-family: kamerik-3d;
  
  /* overflow: hidden; */
}
.hero-content{
  margin-top: calc(var(--index) * 0.4);
}
.layers{
  
  min-height: 100dvh;
}
.layers__container{
  
  position: relative;
}
.layers__item{
  position: absolute;
  inset: 0;
}
.layer-2__container{
  position: relative;
    overflow: hidden;
}
.background-layer{
  background-size: contain;
  z-index: 1; /* На самом нижнем уровне */
  pointer-events: none; /* Не интерактивен */
}
.main-content-layer{
  position: relative;
  z-index: 2; /* Под меню, но над фоном */
  pointer-events: none; /* Отключаем интерактивность для всего слоя */
}
.main-content-layer .hero-content__menu {
  pointer-events: all; /* Включаем интерактивность только для текста, чтобы его можно было копировать */
}
.menu-layer .main-space{
  pointer-events: none;
}
.menu-layer{
 position: sticky;
 z-index: 3; /* На самом верхнем уровне */
 pointer-events: none; /* Позволяет взаимодействовать */

}
.menu-layer .left-sidebar, .right-sidebar{
  pointer-events: all;
}
.main-container{
  min-height: 100dvh;
    display: grid;
    grid-template-columns: 12% 74% 12%;

    
    grid-gap: 1%;
}
@media (orientation: portrait) {
  .main-container{
    min-height: 100dvh;
      display: grid;
      grid-template-columns:1fr;
      grid-template-rows:  1fr 1fr;
      background-size: contain;
    
      grid-gap: 0%;
  }
}

.main-block{
  background-repeat: no-repeat;
  background-size: cover;

}

.main-space {
  text-align: justify;
 
}
.left-sidebar{
  grid-column: 1;
}
.right-sidebar{
  grid-column: 3;
}
.menu__item {
  border: #ffffff50 3px solid;
  border-radius: 15px;
  background: #ffffff25;
  margin: calc(var(--index) * 0.4);
  padding: calc(var(--index) * 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover{
    background-color: #ffffff62;
    cursor: pointer;
  }
  .button__lable{
    pointer-events: none;
  }
}

.item__button {
  --logo-size: 7dvw;
  width: var(--logo-size);
  height: var(--logo-size);
  background-repeat: no-repeat;

  z-index: 4;
  background-size: contain;
  background-position: center;
  margin-bottom: calc(var(--index) * 0.4);

  /* inset: 0; */
  background-position: center;
  background-size: contain;

  background-repeat: no-repeat;
}
.button__lable {
  text-transform: uppercase;
  text-align: center;
  font-size: calc(var(--index) * 0.6);
  color: #fff;
}
.table-container{
  display: flex;
  gap: 1%;

}
.table{
  font-size: calc(var(--index)* 0.7);
}
.location{
  filter:blur(3px);
}
.nav-tabs{
  font-size: calc(var(--index)* 0.9);
  --bs-nav-link-color:#fff !important;
  --bs-nav-link-hover-color: #fff !important;
  --bs-nav-tabs-link-active-color: #fff !important;
  color: #fff;
 
}

#max-load-tab{
border-color: red;
background-color: color-mix(in srgb, var(--max-load-color) 20%, transparent);
}
#max-load-tab.active{
  background-color: var(--max-load-color);
  
}
#midle-load-tab{
  border-color: orange;
  background-color: color-mix(in srgb, var(--midle-load-color) 20%, transparent);
}
#midle-load-tab.active{
  background-color: var(--midle-load-color);
}
#min-load-tab{
  border-color: green;
  background-color:  color-mix(in srgb, var(--min-load-color) 20%, transparent);
}
#min-load-tab.active{
  background-color: var(--min-load-color);
}
#max-load-tab-pane{
  box-shadow: 0 0 20px 0px 
  color-mix(in srgb, var(--max-load-color) 30%, transparent);
}
#midle-load-tab-pane{
  box-shadow: 0 0 20px 0px 
  color-mix(in srgb, var(--midle-load-color) 30%, transparent);
}
#min-load-tab-pane{
  box-shadow: 0 0 20px 0px 
  color-mix(in srgb, var(--min-load-color) 30%, transparent);
}
